---
import CardGridLayout from './CardGridLayout.astro';
---

<CardGridLayout title="Card Grid Example">
	<div slot="header">
		<h1>Projects</h1>
	</div>
	<div class="card">Card 1</div>
	<div class="card">Card 2</div>
	<div class="card">Card 3</div>
	<div class="card">Card 4</div>
</CardGridLayout>