---
import SplitScreenLayout from './SplitScreenLayout.astro';
---

<SplitScreenLayout title="Split Screen Example">
	<div slot="left">
		<h1>Left Content</h1>
		<p>This is the left side content area.</p>
	</div>
	<div slot="right">
		<p>Right Content</p>
	</div>
</SplitScreenLayout>